Navigator- Vitality/RoadSafetyGame/Navigator- Vitality/n8n/Game-Completion-Certificate-PDF.json
{
  "name": "Game Completion Certificate (PDF)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "game-complete",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "432bb841-c644-4e8d-b959-b33e2b5b6af3",
      "name": "Webhook",
      "webhookId": "a230be17-d9ab-4411-b788-6b04c4c8adad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "65cfe23f-3da6-4cd4-847c-9f11e12c813e",
              "leftValue": "={{ $json.body.secret }}",
              "rightValue": "mySecret123",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -96
      ],
      "id": "2cd08930-5805-4e4d-9d54-59664fcdeaaa",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Fill the certificate template with the values the game sent.\nconst b = ($input.first().json.body) || {};\nconst esc = (v) => String(v == null ? '' : v).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst TEMPLATE = \"<!DOCTYPE html>\\n<html>\\n<head>\\n<meta charset=\\\"utf-8\\\">\\n<style>\\n  @page { size: 297mm 210mm; margin: 0; }\\n  html, body { margin: 0; padding: 0; width: 297mm; height: 210mm; font-family: 'Poppins', 'Segoe UI', Verdana, sans-serif; }\\n  .sheet { position: relative; width: 297mm; height: 210mm; box-sizing: border-box; background: linear-gradient(135deg, #fff8e6 0%, #fef2e0 100%); overflow: hidden; }\\n  .border-outer { position: absolute; inset: 8mm; border: 3mm solid #1a3a5c; border-radius: 6mm; box-sizing: border-box; }\\n  .border-inner { position: absolute; inset: 12mm; border: 1.2mm dashed #ffb703; border-radius: 4mm; box-sizing: border-box; }\\n  .road-strip { position: absolute; top: 0; left: 0; width: 100%; height: 14mm; background: #2b2d42; z-index: 0; }\\n  .road-strip::after { content: \\\"\\\"; position: absolute; top: 50%; left: 0; width: 100%; height: 2.2mm; margin-top: -1.1mm; background-image: repeating-linear-gradient(to right, #ffd166 0mm, #ffd166 14mm, transparent 14mm, transparent 24mm); }\\n  .corner-icon { position: absolute; z-index: 1; }\\n  .corner-icon.tl { top: 16mm; left: 16mm; width: 22mm; height: 22mm; }\\n  .corner-icon.tr { top: 16mm; right: 16mm; width: 22mm; height: 22mm; }\\n  .corner-icon.bl { bottom: 9mm; left: 9mm; width: 16mm; height: 16mm; }\\n  .corner-icon.br { bottom: 9mm; right: 9mm; width: 16mm; height: 16mm; }\\n  .content { position: relative; z-index: 2; padding: 26mm 26mm 0 26mm; text-align: center; box-sizing: border-box; }\\n  .logo-slot { height: 16mm; margin: 0 auto 4mm auto; display: flex; align-items: center; justify-content: center; }\\n  .logo-slot img { height: 16mm; width: auto; }\\n  .badge-line { font-size: 11pt; letter-spacing: 3px; text-transform: uppercase; color: #e63946; font-weight: 700; margin-bottom: 2mm; }\\n  h1.title { font-size: 32pt; color: #1a3a5c; margin: 0 0 3mm 0; font-weight: 800; letter-spacing: 1px; }\\n  .subtitle { font-size: 12pt; color: #4a4a4a; margin-bottom: 8mm; font-style: italic; }\\n  .presented-to { font-size: 11pt; text-transform: uppercase; letter-spacing: 2px; color: #6a6a6a; margin-bottom: 2mm; }\\n  .name-line { font-size: 26pt; font-weight: 700; color: #e63946; font-family: 'Brush Script MT', 'Segoe Script', cursive; border-bottom: 0.6mm solid #ffb703; display: inline-block; padding: 0 14mm 2mm 14mm; margin-bottom: 6mm; min-width: 140mm; }\\n  .body-text { font-size: 12pt; color: #333; line-height: 1.6; max-width: 200mm; margin: 0 auto 5mm auto; }\\n  .challenge-name { font-weight: 700; color: #1a3a5c; }\\n  .stars { font-size: 15pt; letter-spacing: 4mm; color: #ffb703; margin-bottom: 4mm; }\\n  .footer { position: absolute; bottom: 22mm; left: 0; right: 0; height: 20mm; z-index: 2; }\\n  .footer-block { position: absolute; bottom: 0; width: 58mm; text-align: center; box-sizing: border-box; }\\n  .footer-block.left { left: 24mm; }\\n  .footer-block.right { right: 24mm; }\\n  .footer-block.center { left: 50%; margin-left: -13mm; width: 26mm; }\\n  .footer-line { border-top: 0.4mm solid #1a3a5c; margin-bottom: 1.5mm; }\\n  .footer-label { font-size: 8.5pt; color: #555; text-transform: uppercase; letter-spacing: 1px; white-space: nowrap; }\\n  .footer-value { font-size: 9.5pt; color: #1a3a5c; font-weight: 600; margin-bottom: 1.5mm; line-height: 1.25; overflow-wrap: break-word; }\\n  .seal { width: 22mm; height: 22mm; border-radius: 50%; background: radial-gradient(circle at 35% 30%, #ffe08a, #ffb703 60%, #e63946 100%); display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; font-weight: 800; font-size: 7pt; text-align: center; line-height: 1.3; margin: 0 auto; }\\n  .cert-id { position: absolute; bottom: 12mm; left: 0; right: 0; text-align: center; font-size: 8pt; color: #999; z-index: 2; }\\n</style>\\n</head>\\n<body>\\n  <div class=\\\"sheet\\\">\\n    <div class=\\\"road-strip\\\"></div>\\n    <div class=\\\"border-outer\\\"></div>\\n    <div class=\\\"border-inner\\\"></div>\\n    <svg class=\\\"corner-icon tl\\\" viewBox=\\\"0 0 64 64\\\"><polygon points=\\\"32,8 46,54 18,54\\\" fill=\\\"#ff8c42\\\" stroke=\\\"#1a3a5c\\\" stroke-width=\\\"2\\\"/><rect x=\\\"14\\\" y=\\\"54\\\" width=\\\"36\\\" height=\\\"6\\\" fill=\\\"#1a3a5c\\\"/><rect x=\\\"22\\\" y=\\\"30\\\" width=\\\"20\\\" height=\\\"6\\\" fill=\\\"#fff\\\"/></svg>\\n    <svg class=\\\"corner-icon tr\\\" viewBox=\\\"0 0 64 64\\\"><polygon points=\\\"32,8 46,54 18,54\\\" fill=\\\"#ff8c42\\\" stroke=\\\"#1a3a5c\\\" stroke-width=\\\"2\\\"/><rect x=\\\"14\\\" y=\\\"54\\\" width=\\\"36\\\" height=\\\"6\\\" fill=\\\"#1a3a5c\\\"/><rect x=\\\"22\\\" y=\\\"30\\\" width=\\\"20\\\" height=\\\"6\\\" fill=\\\"#fff\\\"/></svg>\\n    <svg class=\\\"corner-icon bl\\\" viewBox=\\\"0 0 64 64\\\"><circle cx=\\\"32\\\" cy=\\\"32\\\" r=\\\"26\\\" fill=\\\"#2b9348\\\" stroke=\\\"#1a3a5c\\\" stroke-width=\\\"2\\\"/><path d=\\\"M20 33 L28 41 L45 22\\\" stroke=\\\"#fff\\\" stroke-width=\\\"5\\\" fill=\\\"none\\\" stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\"/></svg>\\n    <svg class=\\\"corner-icon br\\\" viewBox=\\\"0 0 64 64\\\"><circle cx=\\\"32\\\" cy=\\\"32\\\" r=\\\"26\\\" fill=\\\"#2b9348\\\" stroke=\\\"#1a3a5c\\\" stroke-width=\\\"2\\\"/><path d=\\\"M20 33 L28 41 L45 22\\\" stroke=\\\"#fff\\\" stroke-width=\\\"5\\\" fill=\\\"none\\\" stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\"/></svg>\\n    <div class=\\\"content\\\">\\n      <div class=\\\"logo-slot\\\"><img src=\\\"navigator_logo.svg\\\" alt=\\\"Navigator+ Vitality logo\\\" onerror=\\\"this.style.display='none'\\\"></div>\\n      <div class=\\\"badge-line\\\">Navigator+ Vitality &mdash; Road Safety Challenge</div>\\n      <h1 class=\\\"title\\\">Certificate of Completion</h1>\\n      <div class=\\\"subtitle\\\">Awarded for successfully completing the challenge</div>\\n      <div class=\\\"presented-to\\\">This certificate is proudly presented to</div>\\n      <div class=\\\"name-line\\\">{{PARTICIPANT_NAME}}</div>\\n      <div class=\\\"body-text\\\">\\n        for successfully completing the <span class=\\\"challenge-name\\\">{{CHALLENGE_NAME}}</span> challenge,\\n        demonstrating knowledge and commitment to safer roads for everyone.\\n      </div>\\n      <div class=\\\"stars\\\">&#9733; &#9733; &#9733;</div>\\n    </div>\\n    <div class=\\\"footer\\\">\\n      <div class=\\\"footer-block left\\\">\\n        <div class=\\\"footer-line\\\"></div>\\n        <div class=\\\"footer-value\\\">{{DATE}}</div>\\n        <div class=\\\"footer-label\\\">Date Completed</div>\\n      </div>\\n      <div class=\\\"footer-block center\\\">\\n        <div class=\\\"seal\\\"><span>OFFICIAL</span><span>SEAL</span></div>\\n      </div>\\n      <div class=\\\"footer-block right\\\">\\n        <div class=\\\"footer-line\\\"></div>\\n        <div class=\\\"footer-value\\\">{{ISSUER_NAME}}</div>\\n        <div class=\\\"footer-label\\\">Issued By / Signature</div>\\n      </div>\\n    </div>\\n    <div class=\\\"cert-id\\\">Certificate ID: {{CERT_ID}}</div>\\n  </div>\\n</body>\\n</html>\\n\";\nconst html = TEMPLATE\n  .replace(/{{PARTICIPANT_NAME}}/g, esc(b.participantName || b.name || 'Participant'))\n  .replace(/{{CHALLENGE_NAME}}/g,   esc(b.challengeName || 'Road Safety'))\n  .replace(/{{DATE}}/g,             esc(b.date || new Date().toLocaleDateString('en-GB')))\n  .replace(/{{ISSUER_NAME}}/g,      esc(b.issuerName || 'Navigator+ Vitality'))\n  .replace(/{{CERT_ID}}/g,          esc(b.certId || ('NV-' + Date.now())));\nreturn [{ json: { html, name: b.name || b.participantName || 'Participant', score: b.score || 0, email: b.email || '' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -96
      ],
      "id": "aa000001-0000-4000-8000-000000000001",
      "name": "Build Certificate HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o-mini', messages: [ { role: 'user', content: 'Congratulate ' + $json.name + ' on finishing the Road Safety game with a score of ' + $json.score + ' in one upbeat sentence.' } ] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -96
      ],
      "id": "17cc1540-fb0b-42a1-92e1-f53956f27dd9",
      "name": "Congrats (OpenRouter)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D2qvHg6VEXuR5OEd",
          "name": "Header Auth account 11"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $('Build Certificate HTML').item.json.html, landscape: true, use_print: false }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -96
      ],
      "id": "bb000002-0000-4000-8000-000000000002",
      "name": "HTML to PDF (PDFShift)"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Your Road Safety Certificate of Completion",
        "message": "={{ $('Congrats (OpenRouter)').item.json.choices[0].message.content }}\n\nYour certificate of completion is attached. Well done!",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -96
      ],
      "id": "ae6f2dfa-57fa-4501-8a7b-595d315ddfcb",
      "name": "Send a message",
      "webhookId": "85d50a6e-68b6-4ba5-850c-5da42e66290a"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        -96
      ],
      "id": "5673bafe-bb91-4260-87cb-5d8ee7a55d62",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Certificate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Certificate HTML": {
      "main": [
        [
          {
            "node": "Congrats (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Congrats (OpenRouter)": {
      "main": [
        [
          {
            "node": "HTML to PDF (PDFShift)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF (PDFShift)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "instanceId": "d4ebadb9d95df0efff4e8784a1811953a63bd62f8d7a2a45b7c8f23992108d48"
  },
  "tags": []
}